.c-custom{

    color:orange;
}
.bg-custom{
    background-color: black;
}
#t-custom{
    background-color: purple;
    color:orange;
    font-family: "Gill sans",sans-serif;
}
p{
    text-align: justify;
    text-decoration:underline;
    word-spacing: 5px;
    letter-spacing: 4px;
    line-height: 20px;
}
#qla-link{
    color:blueviolet;
    text-decoration: none;
    font-size: larger;
    font-weight: bolder;
    text-transform:lowercase;
    
    
}